/* -------- Scroll Bar -------- */

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #cd7032;
}

*::-webkit-scrollbar-thumb {
    background: #ffae79;
}

/* -------- Scroll Smoothing -------- */
html {
    scroll-behavior: smooth;
}

/* mozilla */
* {
    scrollbar-color: #b0fd7e #ffae79;
    scrollbar-width: thin;
}

body {
    background-image: url("../Sources/SpDcvvp.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 100vw 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color:white;
    font-size: 1rem;
    letter-spacing: 1px;
    height: 70px;
    border-bottom-style: solid;
    border-color: #b0fd7e;
    border-width: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    user-select: none;
    z-index: 1000;
}

#navbar:hover {
    border-color: #ffae79;
}

a{
    text-decoration: none;
    color: rgb(50, 50, 50);
}

#left{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

#left img{
    height: 85px;
    width: 85px;
}

#nav-deemo {
    width: 85px;
}

.nav-item{
    padding: 0 25px;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    font-family: 'Fredoka One', cursive;
}

.nav-item:hover{
    transition: 0.3s;
    background-color: rgb(230, 230, 230);
}

#signin{
    padding: 0 50px;
    height: 100%;
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    background-color: #b0fd7e;
    color: white;
    display: flex;
    align-items: center;
}

#sign-in {
    padding: 0 50px;
    height: 70px;
    padding-left: 20px;
    font-weight: bold;
    background-color: #b0fd7e;
    color: white;
}

#signin:hover{
    transition: 0.3s;
    background-color: #ffae79;
}

#sign-in:hover{
    transition: 0.3s;
    background-color: #ffae79;
}

#trailerinfo {
    position: relative;
}

#castsinfo{
    position: relative;
}

#side-nav{
    font-family: 'Fredoka One', cursive;
    height: 100%;
    width: 0;
    background-color: white;
    font-size: 1rem;
    letter-spacing: 1px;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    user-select: none;
    z-index: 1000;
    overflow-y: auto;
}

#close{
    font-size: 1.25rem;
    padding-left: 20px;
    font-family: 'Fredoka One', cursive;
    height: 70px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #26d1dd;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#open{
    display: none;
    position: fixed;
    top: 0;
}

.side-button{
    font-size: 1.5rem;
    height: 50px;
    width: 50px;
    margin: 10px;
    color: #26d1dd;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 100%;
    border-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.side-button:hover{
    transition: 0.3s;
    background-color: rgb(230, 230, 230);
}

.side-item{
    font-size: 1rem;
    padding-left: 20px;
    height: 70px;
    width: 300px;
    display: flex;
    align-items: center;
    font-family: 'Fredoka One', cursive;
}

.side-item:hover{
    transition: 0.3s;
    background-color: rgb(230, 230, 230);
}

@media screen and (max-width: 800px){
    #navbar{
        display: none;
    }
    
    #open{
        display: flex;
    }
}

@media screen and (max-width: 600px){
    #navbar{
        display: none;
    }
    
    #open{
        display: flex;
    }
}

/* content */

body img {
    position: absolute;
    width: 10vw;
    height: 10vw;
}

#container-content {
    width: 100vw;
    height: 100vh;
}

#logo {
    margin: 0;
    display: flex;
}

#form {
    position: absolute;
    margin-top: 22vh;
    margin-left: 20vw;
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
    align-items: center;
    height: 52vh;
    width: 30vw;
}


#form1 {
    position: absolute;
    margin-top: 22vh;
    margin-left: 48vw;
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
    align-items: center;
    height: 52vh;
    width: 30vw;
}

#title {
    font-family: 'Fredoka One', cursive;
    color: black;
    font-weight: bold;
    font-size: 5vh;
    margin-top: 5vh;
    margin-left: 10vw;
}

#subtitle {
    font-family: 'Fredoka One', cursive;
    color: black;
    font-weight: bold;
    font-size: 2.5vh;
    margin-left: 10vw;
}

#input-container1 label{
    font-family: 'Fredoka One', cursive;
    position: relative;
    margin-left: 2vw;
}

#input-container1 input{
    font-family: 'Comfortaa', cursive;
    margin-left: 2vw;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 1vw;
    width: 25vw;
    height: 5vh;
}

#input-container2 label {
    font-family: 'Fredoka One', cursive;
    position: relative;
    padding-left: 2vw;
}

#input-container2 input {
    font-family: 'Comfortaa', cursive;
    margin-left: 2vw;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 1vw;
    width: 25vw;
    height: 5vh;
}

#sign-in {
    font-family: 'Fredoka One', cursive;
    margin-left: 2vw;
    margin-top: 1vh;
    width: 7vw;
    height: 6vh;
    padding: 1vh;
    text-decoration: none;
    font-weight: bold;
    color: none;
    text-align: center;
    font-size: 2vh;
    color: white;
    background-color: #b0fd7e;
    border: 0.5vh solid #b0fd7e;
    border-radius: 50px;
}

@media screen and (max-width: 800px){
    body img {
        margin-top: 1vh;
        position: absolute;
        width: 15vw;
        height: 15vw;
    }

    #title {
        color: black;
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 2vh;
        margin-left: 15vw;
    }
    
    #subtitle {
        color: black;
        font-weight: bold;
        font-size: 1rem;
        margin-left: 15vw;
    }

    #form {
        margin: 0;
        margin-top: 25%;
        width: 75%;
        height: 50%;
        margin-left: 12.5vw;
    }
    
    #form1 {
        margin: 0;
        margin-top: 25%;
        width: 75%;
        height: 50%;
        margin-left: 12.5vw;
    }

    #input-container1 label{
        position: relative;
        margin-left: 2vw;
    }
    
    #input-container1 input{
        margin-left: 2vw;
        box-sizing: border-box;
        border-radius: 10px;
        padding-left: 1vw;
        width: 90%;
        height: 5vh;
    }
    
    #input-container2 label {
        position: relative;
        padding-left: 2vw;
    }
    
    #input-container2 input {
        margin-left: 2vw;
        box-sizing: border-box;
        border-radius: 10px;
        padding-left: 1vw;
        width: 90%;
        height: 5vh;
    }

    #sign-in {
        margin-left: 2vw;
        margin-top: 1vh;
        width: 20vw;
        height: 6vh;
        padding: 1vh;
        text-decoration: none;
        font-weight: bold;
        color: none;
        text-align: center;
        font-size: 2vh;
        border-radius: 50px;
    }
}

#sign-in:hover {
    background-color: #ffae79;
    border-color: #ffae79;
}

#sign-in:active {
    color: white;
}

#footer1 {
    display: flex;
}

#footer-content {
    font-family: 'Comfortaa', cursive;
    color: black;
    margin-left: 1.25vw;
    margin-top: 2.5vh;
    font-size: 1.5vh;
}

#footer-content a {
    font-weight: bold;
}

#forgot {
    color: blue;
}

#registered {
    color: blue;
}

#forgot:active {
    color: purple;
}

#registered:active {
    color: purple;
}

#forgot1 {
    color: blue;
}

#registered1 {
    color: blue;
}

#forgot1:active {
    color: purple;
}

#registered1:active {
    color: purple;
}

/* ---------- Footer ---------- */

#footer{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-style: solid;
    border-color: white;
    border-width: 5px;
    user-select: none;
    height: 50vh;
}

#logo1 img{
    position: inherit;
    height: 150px;
}

#contact{
    position: relative;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.icon{
    font-size: 1.25rem;
}

.icon a{
    font-family: 'Fredoka One', cursive;
    transition: 0.2s;
}

.icon a:hover{
    color: #b0fd7e;
    font-size: 2rem;
}

#copyright{
    font-family: 'Comfortaa', cursive;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
    padding: 0 10px;
}

@media screen and (max-width: 800px) {
    #logo1 img{
        height: 80px;
    }
}